ai-meeting-follow-up-n8n.json
{
  "name": "Meeting Follow-Up",
  "nodes": [
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-5-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        288,
        208
      ],
      "id": "54493c70-9c64-4705-be75-3f18bce7cce7",
      "name": "OpenAI (GPT)",
      "credentials": {
        "openAiApi": {
          "id": "IJRsuprd3iKQ0PNa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "cef2daea-11e4-481f-8687-dc2c5b04afd5",
      "name": "Receive Meeting Transcript"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.aiTransform",
      "typeVersion": 1,
      "position": [
        656,
        0
      ],
      "id": "43b42cd7-3893-43a7-b0d1-d4adcfa67598",
      "name": "Format Output"
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0ALDSWUVQB",
          "mode": "list",
          "cachedResultName": "meeting-notes"
        },
        "text": "=Meeting follow-up:  {{$json.output}}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        832,
        0
      ],
      "id": "1a9183ca-e850-4fe7-a82c-b6926ca48bcf",
      "name": "Send Slack To-Dos",
      "webhookId": "262b1491-f355-4a64-8641-a50323c79ea0",
      "credentials": {
        "slackOAuth2Api": {
          "id": "aShTifeeNwSqLsIz",
          "name": "Slack account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "saarapeltonen@icloud.com",
        "subject": "Meeting Notes",
        "emailType": "text",
        "message": "=Hi everyone,\n\nHere are the meeting notes from {{$now.toFormat(\"dd/MM/yyyy\")}}:\n\n{{$node[\" Extract Action Items & Summary\"].json[\"output\"]}}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1008,
        0
      ],
      "id": "90973172-78cc-40be-aea7-4eb0796d0ef6",
      "name": "Send Email Summary",
      "webhookId": "fa6c3ac1-51a6-40ab-a6a5-b97f6fbc87e7",
      "credentials": {
        "gmailOAuth2": {
          "id": "hVuVJi6z6ysIU1NX",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Extract action items from the meeting transcript and return them as a clean bullet list.\n\nTranscript:\n\nSaara:\nThanks for joining. I wanted to quickly review where we are with the platform update project and make sure we’re aligned with the stakeholders before the next client check-in.\nEmma:\nYes, good idea. I spoke briefly with the product team yesterday and they said the integration work is progressing, but they need final confirmation on the API access from the client’s tech team.\nSaara:\nRight, I remember that coming up. We should probably follow up with the client’s technical lead to confirm when they can provide the credentials.\nEmma:\nAgreed. I can take that. I’ll send them an email today and ask if they can share the API documentation and access by the end of the week.\nSaara:\nPerfect. On the design side, the design team delivered the new dashboard layouts last week. I reviewed them yesterday and overall they look good, but the client marketing team wanted some adjustments to the reporting widgets.\nEmma:\nYes, I saw that comment. They want the campaign performance metrics to be more visible in the dashboard.\nSaara:\nExactly. Could you coordinate with the design team to update those components before our next stakeholder review?\nEmma:\nYes, I’ll schedule a short session with them tomorrow.\nSaara:\nGreat. Another thing — we should prepare a short update for the client meeting next Tuesday so all stakeholders understand what has been completed and what still needs input from their side.\nEmma:\nMakes sense. I can draft a short project update and send it to you for review before we share it with the client.\nSaara:\nThat would be great. Let’s also include a timeline for the next development milestone so expectations are clear.\nEmma:\nGood point. I’ll add that to the update.\nSaara:\nPerfect. I think those are the main points for today.Action items that your workflow should detect\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        368,
        0
      ],
      "id": "e0288bed-fcff-413a-b5ef-1753fd9a77de",
      "name": " Extract Action Items & Summary"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI (GPT)": {
      "ai_languageModel": [
        [
          {
            "node": " Extract Action Items & Summary",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Receive Meeting Transcript": {
      "main": [
        []
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Send Slack To-Dos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack To-Dos": {
      "main": [
        [
          {
            "node": "Send Email Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    " Extract Action Items & Summary": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "12ac7e25-3e76-4dab-aef2-036049dbca7b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "0c1192b088b5acd5189d589f32c5bedb60681f8ffa44edf5720ba7d272aa16dc"
  },
  "id": "ucTmAINGtMdX13BQ",
  "tags": [
    {
      "name": "slack",
      "id": "4JYMqMrvvEH5CpMp",
      "updatedAt": "2026-03-14T18:50:57.122Z",
      "createdAt": "2026-03-14T18:50:57.122Z"
    },
    {
      "name": "meetings",
      "id": "N6Vfm4zfip191wdg",
      "updatedAt": "2026-03-14T18:50:43.123Z",
      "createdAt": "2026-03-14T18:50:43.123Z"
    },
    {
      "name": "follow-up",
      "id": "PxYZbvysb0J1W7EL",
      "updatedAt": "2026-03-14T18:51:21.356Z",
      "createdAt": "2026-03-14T18:51:21.356Z"
    },
    {
      "name": "email",
      "id": "VseNFlb2GNawOkO5",
      "updatedAt": "2026-03-14T18:50:58.772Z",
      "createdAt": "2026-03-14T18:50:58.772Z"
    },
    {
      "name": "action-items",
      "id": "gMXhFOU0YP9JZHJZ",
      "updatedAt": "2026-03-14T18:51:06.131Z",
      "createdAt": "2026-03-14T18:51:06.131Z"
    },
    {
      "name": "to-do",
      "id": "iGM1JYhUb9bQRq5D",
      "updatedAt": "2026-03-14T18:51:25.636Z",
      "createdAt": "2026-03-14T18:51:25.636Z"
    }
  ]
}
